<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-input label="Solid input" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>

<br />

<ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>



